
.dot.active{
    border: 2px solid #A63569;
}

.slideStylesWidthBackground{
    height: 100%;
    background-size: cover;
    background-position: center;
    text-align: left;
    width: 50%;
    

    .title{
        font-size: 1.514rem;
        width: fit-content;
        text-align: center;
        font-weight: 500;
        color: #FFC043;
        text-align: left;
        position: relative;

        // img{
        //     position: absolute;
        //     top: -10px;
        //     right: -25px;
        // }
    }

    .msg{
        color: #565656;
    }

    .stardf{
        justify-content: flex-start;
    }

    .star{
        color: #FFC043;
    }

    .author{
        font-size: 1.286rem;
        color: #E6402B;
        font-weight: 700;
    }
}


.imgcar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 55%;
    .imgintro{
        height: 100%;
        width: 50%;
        margin: 0 auto;
    }
}

.sliderStyles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8%;
    margin-right: 10%;
    background-image: url('../../pics/googles.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.arrows{
    text-align: right;
     width: fit-content;
     align-self: flex-end;
}

.rightArrowStyles {
    color: #FFCB63;
    cursor: pointer;
}
  
.skipArrowStyle{
    color: #FFCB63;
    cursor: pointer;
    margin-left: -150%;
}

.blank{
    color: #ABABAB;
    cursor: not-allowed;
}

.mleft{
    margin-left: -150%;
}

.dotsContainerStyles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.dot{
    margin: 5%;
    cursor: pointer;
}

.MuiAvatar-root.MuiAvatar-circular.dot.visible.active.css-7pbt6e-MuiAvatar-root{
    display: none;
    margin-bottom: 3%;
}