.con{
    padding: 10%;
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
    border-radius: 20px;
    margin: 0 11%;
    position: relative;
    width: 80%;

    .icon{
        color: white;
        border-radius: 50%;
        font-size: 2rem;
        position: absolute;
        top: -10%;
        right: calc(50% - 8%);

        svg{
            padding: 20%;
            font-size: 4rem;
            border-radius: 50%;
        }
    }

    h3{
        color: #0A339A;
        font-weight: 500;
        font-size: 24px;
    }
    p{
        color: #565656;
    }
}