.container{
  text-align: center;

  .bloc-tabs {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: max-content;
    margin: auto;
    padding: 0% 2%;
  }
  .tabs {
    color: #333333;
    background-color: transparent;
    padding: 13% 15%;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 15px;
  }
  .tabs:hover{
    background-color: rgba(255, 192, 203, 0.315);
    border-radius: 50px;
  }
  
  .active-tabs  {
    background: #DD3CA7;
    border-radius: 50px;
    color: white;
  }
  .active-tabs:hover{
    background: #DD3CA7;
  }

  
//   .active-tabs::before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: -5px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: calc(100% + 2px);
//     height: 5px;
//     background: rgb(88, 147, 241);
//   }
  
  
  
  button {
    border: none;
    width: 100%;
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: transparent;
    padding-top: 2%;
    width: 100%;
    height: 100%;
    display: none;

    .locations{
        display: flex;
        justify-content: center;
    }
  }
  
  .active-content {
    display: block;
  }
}